<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>

<div class="form-group">
    <label id="assigneeLabel" for="assignee"><em
            style="color: #6c757d;font-weight: bold">Assignees</em></label>
    <p></p>
    <select name="assignee" id="assignee" class="selectpicker" multiple data-live-search="true" data-actions-box="true">
        {% for user in contributors %}
            {% if user in assignes %}
                <option selected>{{ user.username }}</option>
            {% else %}
                <option>{{ user.username }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<hr>
<div class="form-group">
    <label id="labels" for="selectLabels"><em
            style="color: #6c757d;font-weight: bold">Labels</em></label>
    <p></p>
    <select name="labels" id="selectLabels" class="selectpicker" multiple data-live-search="true" data-actions-box="true">
        {% for label in labels %}
            {% if label in existing_labels %}
                <option selected data-content="<span class='badge' style='background-color:{{ label.color }}'>{{ label.name }}</span>">{{ label.name }}</option>
            {% else %}
                <option data-content="<span class='badge' style='background-color:{{ label.color }}'>{{ label.name }}</span>">{{ label.name }}</option>
            {% endif %}

        {% endfor %}
    </select>
</div>
<hr>
{% comment %}<div class=" form-group">
    <label id="projects" for="projectsInput"><em style="color: #6c757d;font-weight: bold">Projects</em></label>
    <p></p>
    <select id="projectsInput" class="selectpicker" multiple data-live-search="true">
        {% for project in projects %}
            <option> {{ project.name }}</option>
        {% endfor %}
    </select>
</div>
<hr>{% endcomment %}
<div class="form-group">
    <label id="milestone" for="milestoneInput"><em style="color: #6c757d;font-weight: bold">Milestone</em></label>
    <p></p>
    <select name="milestone" id="milestoneInput" class="selectpicker" data-live-search="true">
        {% for milestone in milestones %}
            {% if milestone in issue_milestone %}
                <option selected>{{ milestone.title }}</option>
            {% else %}
                <option>{{ milestone.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<hr>

<script>
    $('select').selectpicker();
</script>


