{% load static %}
<html lang="en">
<header>
    <link rel="stylesheet" type="text/css" href="{% static 'my_git/styles/issues_header.css' %}">
</header>
<body>
<div class="my-row">
    <div class="input-group">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" style="height: 2.5em;" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="btn" href="?closed=False">Open</a>
                </li>
                <li>
                    <a class="btn" href="?closed=True">Closed</a>
                </li>
            </ul>
        </div>
        <input type="text" class="form-control col-sm-3" name="x" placeholder="Search term...">
        <span class="input-group-btn">
            {% if have_params %}
                <a class="btn btn-default" type="button" href="{% url 'issues' repo_name=repository %}?{{ request.GET.urlencode }}&q=title"><i class="fas fa-search"
                                                                            style="height: 3%"></i></a>
            {% else %}

                <a class="btn btn-default" type="button" href=" {% url 'issues' repo_name=repository %}?q=title"><i class="fas fa-search"
                                                                            style="height: 3%"></i></a>
            {% endif %}
        </span>
        <span class="labels-btn">
                    <button class="btn btn-outline-dark" type="button"><i class="fas fa-tag"></i>Labels</button>
                </span>

        <span class="milestones-btn">
                    <button class="btn btn-outline-dark" type="button"><i class="fas fa-sign"></i>Milestones</button>
                </span>

        <span class="new-issue-btn col">
                    <a href="/repositories/{{ repository }}/issues/new"><button class="btn btn-success float-right"
                                                                                type="button">New issue</button></a>
                </span>
    </div>
</body>
</html>