{% include 'my_git/home.html' %}

<div>

    {% include 'my_git/issues/issues_header.html' %}
</div>


<div class="container container-padding">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" width="15%">
                <a class="btn" data-toggle="tooltip" data-placement="top" title="Open issues"><i class="fas fa-exclamation-circle"></i>{{ num_of_open }}</a>
                <a class="btn" data-toggle="tooltip" data-placement="top" title="Closed issues"><i class="far fa-check-circle"></i>{{ num_of_closed }}</a>
            </th>
            <th>
                <a class="btn">Title</a>
            </th>
            <th class="text-left" width="15%"><a class="btn">Author</a></th>
            <th class="text-left"><a class="btn">Labels</a></th>
            <th class="text-left"><a class="btn">Milestones</a></th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                {% include 'my_git/issues/issue_table_item.html' with issue=issue %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>