
<div class="form-group">
    <label id="assigneeLabel" for="assignee"><em style="color: #6c757d;font-weight: bold">Assignees</em></label>
    <input type="text" id="assignee" class="form-control">
</div>
<hr>
<div class="form-group">
    <label id="labels" for="labelsInput"><em style="color: #6c757d;font-weight: bold">Labels</em></label>
    <input type="text" id="labelsInput" class="form-control">
</div>
<hr>
<div class="form-group">
    <label id="projects" for="projectsInput"><em style="color: #6c757d;font-weight: bold">Projects</em></label>
    <input type="text" id="projectsInput" class="form-control">
</div>
<hr>
<div class="form-group">
    <label id="milestone" for="milestoneInput"><em style="color: #6c757d;font-weight: bold">Milestone</em></label>
    <input type="text" id="milestoneInput" class="form-control">
</div>
<hr>

