{% load static %}

<html lang="en">
<header>
    <link rel="stylesheet" type="text/css" href="{% static 'my_git/styles/issue_table.css' %}">
</header>
<body>
<td>
    {% if issue.open == True %}
        <i style="margin-left: 3em; color:green" id="open" class="far fa-check-circle"></i>
    {% else %}
        <i style="margin-left: 3em; color:red" id="closed" class="fas fa-exclamation-circle"></i>
    {% endif %}


</td>
<td>
    <div class="title-labels">
        <h5 id="tableTitle"><a href="/repositories/{{ repository }}/issues/{{ issue.id }}">{{ issue.title }}</a></h5>
    </div>

</td>
<td>
    <div class="profile-image">
    {% if logged_user.image == "" %}
        <img alt="User photo" src="../../../static/my_git/images/default_user.png"
             class="img-circle" style="height:40px; width: 40px; margin-left: 1%"/>
    {% else %}
        <img alt="User photo" src="../../../../media/{{ logged_user.image }}"
             class="rounded-circle" style="height:40px; width: 40px; margin-left: 1%"/>
    {% endif %}

    </div>
</td>
<td>
    <div >
            {% for label in issue.label.all %}
                <span class="badge" style="background-color: {{ label.color }}">{{ label.name }}</span>
            {% endfor %}
        </div>
</td>
<td >
    <p><i class="fas fa-sign"></i>&nbsp;{{ issue.milestone.title }}</p>
</td>
</body>