{% load static %}
<html lang="en">
<header>
    <link rel="stylesheet" type="text/css" href="{% static 'my_git/styles/issues_header.css' %}">
</header>
<body>
<div class="my-row">
    <div class="input-group">
        <span class="labels-btn">
                    <button onclick="location.href='{% url 'repository_labels' repository.name %}'"
                            class="btn btn-outline-dark"
                            type="button"><i class="fas fa-tag"></i>Labels</button>
                </span>

        <span class="milestones-btn">
                    <button class="btn btn-outline-dark" type="button"><i class="fas fa-sign"></i>Milestones</button>
                </span>

        <span class="new-issue-btn col">
                    <a href="/repositories/{{ repository }}/labels/new"><button class="btn btn-success float-right"
                                                                               type="button">New label</button></a>
                </span>
    </div>
</body>
</html>