.issue_div {
    margin-left: 5%;
    margin-top: 3%;
    width: 60%;
    position: relative;
    display: inline-block;
}

.open-issue {
    background-color: #2cbe4e;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 4px 8px;
    text-align: center;
    height: 30px;
}

.close-issue {
    background-color: #cb2431;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 4px 8px;
    text-align: center;
    height: 30px;
}


.comment-insert-block {
    /*width: 60%;*/
    margin-top: 2%;
    border: 2px solid #d1d5da;
    border-radius: 3px;
    margin-bottom: 5%;
}

.comment-insert-header {
    height: 5%;
    background-color: #edeff6;
    border-radius: 3px;
}

.textarea-field {
    width: 100%;
    min-height: 20%;
    margin-bottom: 2%;
}

.inline {
    display: inline-block;
}

.username-info {
    color: #586069;
    margin-left: 1%;
    font-weight: bold;
}

.inline-div > * {
    display: inline-block;
}

.issue-side {
    position: relative;
    display: inline-block;
    margin-top: 12%;
    width: 20%;
    margin-left: 5%;
}