
.my-row {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.all-issues {
    max-width: 85%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
}

.labels-btn {
}

.milestones-btn {
}

.new-issue-btn {
}
