
.new-issue-inputs, .new-issue-side {
    position: relative;
    display: inline-block;
}

.first {
    margin: 10px 10px 10px 10px;
}

#contentInput {
    height: 15em;
}

.profile-image {
    margin-left: -5%;
    margin-top: 5%;
    width: 10%;
}

#profile-pic {
    border: 1px solid lightblue;
    border-radius: 25px;
}
.new-issue-inputs {
    margin-top: 5%;
    width: 60%;
    border: 1px solid #D1D5DA;
}
.new-issue-side {
    margin-top: 5%;
    width: 35%;
    margin-left: 5%;

}