{% extends "my_git/home.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_git/styles/repositories.css' %}">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <br>
    <button class="btn btn-success" style="margin-left:2%; margin-bottom: 1%"
            onclick="location.href='{% url 'create_repository' %}'">
        <i class="fa fa-book"></i> New
    </button><br>

    <img alt="User photo" src="../../../static/my_git/images/default_user.png"
         class="img-circle" style="height:100px;"/>

    <div class="topnav">
        <a href="#">Overview</a>
        <a href="/repositories" class="{{ repositories_view }}">Repositories</a>
        <a href="#">Projects</a>
        <a href="/stars" class="{{ stars_view }}"><i class="fa fa-star"></i> Stars</a>


        <form>
            <button id="search-btn" style="margin-top:10px;float: right;" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
            <input style="margin-top:12px;float: right; margin-right: 7px" type="text" name="repo_name"
                   placeholder="Find a repository...">
        </form>
    </div>
{% endblock %}
