{% extends "my_git/home.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <br>
    <div class="card bg-light mb-3" style="max-width: 18rem; margin-left: 50px;">
        <div class="card-header">
            <img alt="User photo" src="../../../static/my_git/images/default_user.png"
                 class="img-circle" style="height:100px;"/>
            <button class="btn btn-info" style="margin-left: 95px; margin-bottom: 100px">
                <i class="fa fa-edit"></i></button>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-user"></i> &nbsp; {{ user.username }}
            </h5>
            <p class="card-text">
                <i class="fa fa-envelope"></i> &nbsp; {{ user.email }}
            </p><br>
        </div>
    </div>
{% endblock content %}
