<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>My Git</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-image: url('../../static/my_git/images/planet.jpeg'); height: 100%">
<div>
    <div align="center" style="padding-top: 12%;padding-left: 10%;padding-right: 10%; ">
        <div class="jumbotron" style="background-color: rgba(238,238,238,.6) ;">
            <h6 class="display-4" align="center" style="margin-bottom: 20px;">

                <strong>My Git</strong>
                <img alt="My Git" height="60px" src="../../static/my_git/images/logo.png"/>
            </h6>
            <hr class="my-4">
            <p class="lead">
                <a href="/login"  style="background: whitesmoke; color: black;" class="btn btn-default">Login</a>
                <a href="/register"  style="background: whitesmoke; margin-left: 8%; color: black;" class="btn btn-default">Sign Up</a>
            </p>
        </div>

    </div>

</div>
</body>
</html>