{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'my_git/styles/commit.css' %}">

<div>
    {% include 'my_git/repositories/repository_header.html' %}

</div>

<div class="container container-padding" style="margin-left: 25%">

    <form method="post" class="row">
        {% csrf_token %}
        <div class="new-commit-inputs">
            <div class="first">
                <label class="col-sm-2 col-form-label" for="messageInput">Message</label>
                <div class="col-sm-12">
                        <textarea name="messageInput" class="form-control" id="messageInput"
                                  placeholder="White the message" rows="4"></textarea>
                </div>
            </div>


            <button type="submit" class="btn btn-success first float-lg-right">Submit</button>
        </div>


    </form>
</div>

